body{
    margin:0;
    font-family:Arial;
    background:#120a1f;
    color:#e6e0f5;
    font-size:14px;
}

.section{
    display:none;
    min-height:100vh;
    padding:40px;
}

.section.active{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

h1,h2{
    color:#c7a6ff;
    font-size:18px;
}

.btn{
    display:inline-block;
    padding:8px 12px;
    background:#6c2bd9;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-size:12px;
}

img{
    width:220px;
    border-radius:10px;
}

.nav{
    position:absolute;
    bottom:20px;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:0 40px;
}

button{
    background:#6c2bd9;
    border:none;
    color:white;
    padding:6px 10px;
    font-size:12px;
    cursor:pointer;
}

.social a{
    color:white;
    margin-right:10px;
    font-size:12px;
    text-decoration:none;
}
